.text {
  margin: 60px 0;
  font-size: 16px;
  color: var(--seccondary);
  width: 85%;
  /* text-align: justify; */
  letter-spacing: 0;
  line-height: 28px;
}

.logos {
  width: 100%;
}

@media (max-width: 900px) {
  .text {
    margin: 60px auto;
    text-align: justify;
  }
}
