/* .listContainer {

} */

.listContainer li {
  margin: 20px 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.img {
  height: 80px;
  margin: 10px;
}

.text {
  margin: 20px;
}

.text h4 {
  font-family: SharpSansNo1-Bold;
  color: var(--main);
  font-size: 1.3rem;
}

.text p {
  font-family: SharpSansNo1-Medium;
  color: var(--main);
  font-size: 0.9rem;
  margin: 0;
}

@media (max-width: 900px) {
  .listContainer {
    margin: 0 7.5%;
  }
}
